h4 {
    color: white !important;
    text-shadow: 2px 2px 4px #000000;
    font-size: 40px;
}

hr {
    border: 0;
    height: 1px;
    margin-bottom: 1.5em;
    margin-top: 1.5em;
    background-color: white;
    border-color: initial;
}

p {
    font-weight: 500;
    font-size: large;
    color: white;
    text-shadow: 1px 1px 2px #000000;
}

p strong {
    text-shadow: 2px 2px 4px #000000;
}